include:
  - project: 'pub/ci'
    ref: '0.0.5'
    file: '.containers.gitlab-ci.yml'

variables:
  VERSION: 0.0.3

stages:
  - build

build:
  stage:
    build
  except:
    - master
  extends:
    .containers.kaniko
  variables:
    BUILD_DST: |
      $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    BUILD_ARGS: |
      GITLAB_API_TOKEN=${GITLAB_API_TOKEN}

build master:
  stage:
    build
  only:
    - master
  extends:
    .containers.kaniko
  variables:
    BUILD_DST: |
      $CI_REGISTRY_IMAGE:$VERSION
    BUILD_ARGS: |
      GITLAB_API_TOKEN=${GITLAB_API_TOKEN}
